@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Raleway:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/georgia');


/* add normal font weight as special class */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro';
    /* font-family: verdana; */
    /* font-family: Raleway; */
    color: #222222;
}

body {
    background-color: #777777;
}

.document {
    background-color: white;
    height: 792px;
    width: 612px;
    height: 792px;
    width: 612px;
    margin: 50px auto;
    /* creates 0.75" padding */
    padding: 54px;
}

/* comment out when finished. This is used to track margins */
.document > div {
    /* border: 1px solid red; */
}

section {
    margin: 8px 0;
}

hr {
    border: none;
    border-top: thin solid #444444;
    margin: 2px 0 5px;
}

h1, h2 {
    /* font-family: verdana; */
    /* font-weight: bolder; */
}

h1 {
    font-size: 26px;
    color: rgb(43, 118, 231);
    line-height: 22px;
}

h2 {
    font-size: 16px;
    /* font-weight: normal; */
    color: rgb(43, 118, 231);
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
}

/* description  */
h4 {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 12px;
}

p, li {
    font-size: 10px;
    font-weight: 300;
    line-height: 13.5px;
    color: black;
    /* font-family: 'Times New Roman'; */
    /* font-family: Tahoma; */
    
}

li {
    list-style-image: url(/images/right-arrow.svg); 
    /* creates beginning padding */
    /* padding-inline-start: 1px; */
}

ul {
    padding-left: 24px;
}

.heading {
    margin-top: 0;
    margin-bottom: 10px;
}

.heading h4 {
    letter-spacing: 0.35px;
}

.contact-info {
    display: flex;
}

.contact-info ul {
    flex: 1;
    padding-left: 0;
}

.contact-info li {
    list-style: none;
}

.contact-info > ul > li {
    position: relative;
    left: 15.25px;
}

.contact-info > ul li > img {
    position: absolute;
    left: -15.25px;
}

.contact-info > ul:first-of-type li:nth-of-type(1) > img {
    top: 1px;
}
.contact-info > ul:first-of-type li:nth-of-type(2) > img {
    top: 1px;
}
.contact-info > ul:first-of-type li:nth-of-type(3) > img {
    top: 2px;
    left: -14px;
}

/* .contact-info > ul:last-of-type > li {
    position: relative;
    left: 15.25px;
} */

/* .contact-info > ul:last-of-type li > img {
    position: absolute;
    left: -15.25px;
} */

.contact-info > ul:last-of-type li:nth-of-type(1) > img {
    top: 0px;
}
.contact-info > ul:last-of-type li:nth-of-type(2) > img {
    top: 1px;
}
.contact-info > ul:last-of-type li:nth-of-type(3) > img {
    top: 2px;
}

.skills {
    /* margin: 8px 0; */
}

.skills > div {
    display: flex;
}

.skills > div > div {
    /* flex: 1; */
    /* width: fit-content; */
    /* border: 1px solid red; */
    /* width: 170px; */
    max-height: 47px;
}

/* play around with below padding numbers to obtain ideal padding */
.skills > div > div:nth-of-type(1) {
    /* margin-right: 15px; */
}

.skills > div > div:nth-of-type(2) {
    margin-right: 10px;
    margin-left: 20px;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
}

.skills > div > div:nth-of-type(3) {
    /* padding: 0 0 0 0px; */
}

.skills > div > div > h4 {
    margin-bottom: 5px;
}

.project-title, .job-title, .education-title {
    display: flex;
    align-items: flex-end;
}

.project-title h3:last-of-type, .job-title h3:last-of-type, .education-title h3:last-of-type {
    font-weight: normal;
    margin: 0 3px;
}

.project-title p, .job-title p, .education-title p {
    font-weight: 400;
    color: #444444;
}

.experience p, .education p {
    font-weight: 400;
    color: #444444;
}