@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


/* add normal font weight as special class */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro'
}

body {
    background-color: #777777;
}

.document {
    background-color: white;
    height: 792px;
    width: 612px;
    height: 792px;
    width: 612px;
    margin: 50px auto;
    /* 0.75" padding */
    padding: 54px;
}

hr {
    height: 3px;
    border: none;
    background-color: #444444;
    margin: 5px 0;
}

h1 {
    font-size: 34px;
    color: rgb(43, 118, 231);
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-size: 14px;
}

/* description  */
h4 {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 12px;
}

p, li {
    font-size: 12px;
}


.contact-info div:first-of-type, .contact-info > div:last-of-type {
    display: flex;
    /* justify-content: space-between; */
    font-size: 11px;
}

.contact-info > div > p:nth-of-type(1) {
    flex: 2;
}
.contact-info > div > p:nth-of-type(2), .contact-info > div > p:nth-of-type(3) {
    flex: 3;
}

.contact-info > div:first-of-type > p::before, .contact-info > div:last-of-type > p::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #444444;
    margin-right: 4px;
}

.contact-info > div:first-of-type > p:nth-of-type(1)::before {
  content: '\f3c5'
}
.contact-info > div:first-of-type > p:nth-of-type(2)::before {
  content: '\f879'
}
.contact-info > div:first-of-type > p:nth-of-type(3)::before {
  content: '\f0e0'
}
.contact-info > div:last-of-type > p:nth-of-type(1)::before {
  content: '\f015'
}
.contact-info > div:last-of-type > p:nth-of-type(2)::before {
  content: '\f08c'
}
.contact-info > div:last-of-type > p:nth-of-type(3)::before {
  content: '\f09b'
}

.skills {
    margin: 8px 0;
}

.skills > div {
    display: flex;
}

.skills > div > div {
    flex: 1;
}
.skills > div > div:nth-of-type(1) {
    padding: 0 5px 0 0;
}

.skills > div > div:nth-of-type(2) {
    padding: 0 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.skills > div > div:nth-of-type(3) {
    padding: 0 0 0 5px;
}

.skills > div > div > p {
    font-size: 12px;
}

.projects {

}

.project-title {
    display: flex;
    align-items: flex-end;
}

.project-title > h3:last-of-type {
    font-weight: normal;
    margin: 0 3px;
}

.project-title span {
    font-weight: normal;
}